<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jt.lux.mapper.security.SecurityPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.jt.lux.entity.security.SecurityPermission" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_STAMP" property="lastUpdatedStamp" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_TX_STAMP" property="lastUpdatedTxStamp" jdbcType="TIMESTAMP" />
    <result column="CREATED_STAMP" property="createdStamp" jdbcType="TIMESTAMP" />
    <result column="CREATED_TX_STAMP" property="createdTxStamp" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>