<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jt.lux.mapper.system.SystemPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.jt.lux.entity.system.SystemProperty" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYSTEM_RESOURCE_ID" property="systemResourceId" jdbcType="VARCHAR" />
    <id column="SYSTEM_PROPERTY_ID" property="systemPropertyId" jdbcType="VARCHAR" />
    <result column="SYSTEM_PROPERTY_VALUE" property="systemPropertyValue" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_STAMP" property="lastUpdatedStamp" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_TX_STAMP" property="lastUpdatedTxStamp" jdbcType="TIMESTAMP" />
    <result column="CREATED_STAMP" property="createdStamp" jdbcType="TIMESTAMP" />
    <result column="CREATED_TX_STAMP" property="createdTxStamp" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>